.image-box {
    width: 31.25rem; /* 500px -> 31.25rem */
    height: 25rem; /* 400px -> 25rem */
    border: 0.125rem groove #c5ccd2; /* 2px -> 0.125rem */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 1.5625rem; /* 25px -> 1.5625rem */
    border-radius: 0.625rem; /* 10px -> 0.625rem */
    background-color: rgba(255, 255, 255, 0.7);
}

.image-box:hover {
    background-color: rgba(177, 177, 177, 0.5);
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

/* 파일 입력 스타일 */
.file-input {
    display: none;
}

.content-width {
    width: 28% !important;
}

/* 프롬프트와 전송 버튼을 감싸는 박스 스타일 */
.form-container {
    width: 100%;
    padding: 0.3125rem; /* 5px -> 0.3125rem */
    background-color: #007bfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.625rem; /* 10px -> 0.625rem */
}

/* 프롬프트 입력 필드 스타일 */
.form-container input[type="text"] {
    padding: 0.625rem; /* 10px -> 0.625rem */
    height: 2.8125rem; /* 45px -> 2.8125rem */
    font-size: 1.125rem; /* 18px -> 1.125rem */
    flex: 1;
    border: 0;
    border-radius: 0.5rem; /* 8px -> 0.5rem */
}

/* 전송 버튼 스타일 */
.form-container button {
    padding: 0.625rem; /* 10px -> 0.625rem */
    background-color: rgba(0, 123, 255, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem; /* 16px -> 1rem */
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.btn_generate {
    height: 100%;
    border-radius: 0.5rem; /* 8px -> 0.5rem */
    padding: 0;
}

.top, .bottom {
    height: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-line {
    font-size: 1.9rem;
    color: #ffffff;
    font-weight: bold;
}

.form-center {
    height: auto;
    width: auto;
}

.image-box p {
    font-size: 1.25rem; /* larger: 약 1.25rem */
}

.set-min-width {
    min-width: 31.25rem; /* 500px -> 31.25rem */
}
