.image-box {
    width: 500px;
    height: 400px;
    border: 2px groove #c5ccd2;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 25px;
    border-radius: 10px;
}

.image-box:hover {
    background-color: rgba(227, 227, 227, 0.46);
}

.image-box img {
    max-width: 100%;
    max-height: 100%;
    display: none;
}

/* 파일 입력 스타일 */
.file-input {
    display: none;
}

.content {
    width: 28% !important;
}

/* 프롬프트와 전송 버튼을 감싸는 박스 스타일 */
.form-container {
    width: 100%;
    padding: 5px;
    background-color: #007bfb; /* 배경색 적용 */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

/* 프롬프트 입력 필드 스타일 */
.form-container input[type="text"] {
    padding: 10px;
    height: 45px;
    font-size: 18px;
    flex: 1;
    border: 0;
    border-radius: 8px;
}

/* 전송 버튼 스타일 */
.form-container button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.btn_generate {
    height: 100%;
    border-radius: 8px;
    padding: 0;
}

.top, .bottom {
    height: 7.5rem; /* 120px -> 7.5rem */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.head-line {
    font-size: 2rem; /* xx-large 기본값: 약 2rem */
}

.form-center {
    height: auto;
    width: auto;
}

.image-box p {
    font-size: larger;
}
