<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.IInteriorMapper">
    <insert id="insertRecord" parameterType="GRecordDTO">
        INSERT INTO G_RECORD
        (USER_ID,
         GENERATE_SEQ,
         ROOT_PATH,
         INPUT_IMG_DIR,
         INPUT_IMG_NAME,
         NEW_INPUT_IMG_NAME,
         GENERATED_IMG_DIR,
         GENERATED_IMG_NAME,
         REG_ID,
         REG_DT,
         CHG_ID,
         CHG_DT)
        VALUES (
                #{userId},
                (SELECT NVL(MAX(A.GENERATE_SEQ),0)+1 FROM G_RECORD A WHERE USER_ID=#{userId}),
                #{rootPath},
                #{inputImgDir},
                #{inputImgName},
                #{newInputImgName},
                #{generatedImgDir},
                #{generatedImgName},
                #{regId},
                NOW(),
                #{chgId},
               NOW())
    </insert>

    <select id="getRecords" parameterType="GRecordDTO" resultType="GRecordDTO">
        SELECT GENERATE_SEQ, ROOT_PATH, GENERATED_IMG_DIR, GENERATED_IMG_NAME, REG_DT
        FROM G_RECORD
        WHERE USER_ID = #{userId}
    </select>
</mapper>