<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.mapper.IUserInfoMapper">
    <select id="getUserIdExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <select id="getUserNicknameExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(USER_NICKNAME) > 0, 'Y', 'N') AS EXISTS_YN
        FROM USER_INFO
        WHERE USER_NICKNAME = #{userNickname}
    </select>

    <!-- 회원 가입 전 이메일 중복체크하기 -->
    <select id="getUserEmailExists" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT
            IF(COUNT(USER_ID) > 0, 'Y', 'N') AS EXISTS_YN
            , USER_ID
            , USER_NAME
            , USER_EMAIL
        FROM USER_INFO
        WHERE USER_EMAIL = #{userEmail}
    </select>

    <select id="getLogin" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT  USER_ID, USER_NAME, USER_EMAIL, USER_NICKNAME
        FROM USER_INFO
        WHERE USER_ID = #{userId}
            AND PASSWORD = #{password}
    </select>

    <insert id="insertUserInfo" parameterType="UserInfoDTO">
        INSERT INTO USER_INFO
        (USER_ID,
         USER_NAME,
         PASSWORD,
         USER_EMAIL,
         USER_NICKNAME,
         REG_ID,
         REG_DT,
         CHG_ID,
         CHG_DT,
         GENDER
        )
        VALUES (#{userId},
                #{userName},
                #{password},
                #{userEmail},
                #{userNickname},
                #{regId},
                NOW(),
                #{chgId},
                NOW(),
                #{gender})
    </insert>

    <update id="updateUserInfo" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        <set>
            <!-- 닉네임이 입력된 경우에만 업데이트 -->
            <if test="userNickname != null and userNickname != ''">
                USER_NICKNAME = #{userNickname},
            </if>
            <!-- 이메일이 입력된 경우에만 업데이트 -->
            <if test="userEmail != null and userEmail != ''">
                USER_EMAIL = #{userEmail},
            </if>
            <!-- 비밀번호가 입력된 경우에만 업데이트 -->
            <if test="password != null and password != ''">
                PASSWORD = #{password},
            </if>
        </set>
        WHERE USER_ID = #{userId}
    </update>



</mapper>